<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact - Guardian Nanny</title>
    <link rel="stylesheet" type="text/css" href="static/styles/styles.css">
</head>
<body>
    <header>
        <h1>Guardian Nanny</h1>
        <p>Ensuring Trust, One Nanny at a Time</p>
        <nav>
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="{{ url_for('about') }}">Info</a></li>
                <li><a href="signup.html">Sign Up</a></li>
                <li><a href="login.html">Log In</a></li>

            </ul>
        </nav>
    </header>

    <section class="contact">
        <h2>Contact Us</h2>
        <p>If you have any questions or need assistance, please feel free to contact us at support@guardiannanny.com</p>
    </section>

    <footer>
        <p>&copy; 2023 Guardian Nanny</p>
    </footer>
</body>
</html>
